<div class="container">

      <div class="row">

          <div class="container chamada" align="center">
            <h1 class="display-4">Lançamentos do mês</h1>
            <p class="lead">Confira os lançamentos do mês de março aqui na AKICINEMA</p>
            
          </div>
       
      </div>
  <hr />
  <div class="container ">
      <div align="center">
          <br>
          <p class="lead" >Clique em um titulo para ver mais</p>
          <br>
      </div>
      
      <div class="row " >
      <!-- listagem de filmes usando o ngFor-->
        <div class="col-md-3" *ngFor="let filme of filmes" (click)="ver(filme, filmeModal)">
          <div class="box">
            <img class="img-thumbnail" [src]="'http://image.tmdb.org/t/p/w185/' + filme.poster_path"> 
            <br>
            <div class="titulo">
              <h6>{{filme.title}}</h6>
            </div>
           
          </div>
          <br>
        </div>
    
  </div>
</div>
<!-- modal com informaçoes sobre o filme-->
<ng-template #filmeModal let-c="close" let-d="dismiss">
  <div class="editmodal">
      <div class="modal-header">
          <h3>{{filme.title}}</h3>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
       </div>
       <div class="modal-body">
          <div class="row">
            <div class="col-md-3 ">
                <img   [src]="'http://image.tmdb.org/t/p/w185/' + filme.poster_path"> 
            </div>
            <div class="col-md-9 textmodal">
                <p>{{filme.overview}}</p>
                <h5>Estreia {{filme.release_date |  date:'dd/MM/yyyy' }}</h5>
            </div>
              
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fechar</button>
        </div>
  </div>
   
</ng-template>
